<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazanin.notepad">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".controller.FontManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activities.NotepadActivity" />
        <activity android:name=".controller.activities.NoteManagerActivity" />
        <activity android:name=".controller.activities.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activities.ViewNoteActivity" />
        <activity android:name=".controller.activities.CheckListActivity" />
        <activity android:name=".controller.activities.CheckListDialogActivity"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>